.header {
   position: relative;
   z-index: 10;

   display: flex;
   flex-direction: column;
   gap: var(--spacing-48);

   padding-top: 24px;
   padding-bottom: 80px;
}

.header__surface {
   position: relative;
   overflow: hidden;

   background-color: var(--neutral-100);
   background-image: url("../../assets/patterns/pattern-light.png");
}

.header__logo {
   width: auto;
   height: 36px;

   margin-right: auto;
}

.header__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-64);
}

.header__text {
   display: flex;
   flex-direction: column;
}

.header__title {
   margin-bottom: var(--spacing-24);

   color: transparent;

   background: var(--text-gradient);
   background-clip: text;
}

.header__caption {
   margin-bottom: var(--spacing-32);

   color: var(--neutral-700);
}

.header__cta {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-20);
}

.header__img {
   width: 100%;
   height: auto;
}

.header__glow {
   position: absolute;
   bottom: -300px;
   right: -300;
   z-index: 1;

   width: 684px;
   height: 684px;
}