.header {
   position: relative;
   z-index: 10;

   display: flex;
   flex-direction: column;
   gap: var(--spacing-48);

   padding-top: 24px;
   padding-bottom: 80px;
}

.header__surface {
   position: relative;
   overflow: hidden;

   background-color: var(--neutral-100);
   background-image: url("../../assets/patterns/pattern-light.png");
}

.header__logo {
   width: auto;
   height: 36px;

   margin-right: auto;
}

.header__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-64);
}

.header__text {
   display: flex;
   flex-direction: column;
}

.header__title {
   margin-bottom: var(--spacing-24);

   color: transparent;

   background: var(--text-gradient);
   background-clip: text;
}

.header__caption {
   margin-bottom: var(--spacing-32);

   color: var(--neutral-700);
}

.header__cta {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-20);
}

.header__glow {
   position: absolute;
   bottom: -200px;
   right: -200px;
   z-index: 1;

   width: 684px;
   height: 684px;
}

.benefits {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: var(--spacing-40);

   padding-block: var(--spacing-64);
}

.benefits__title {
   color: var(--neutral-900);
}

.benefits__box-list {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-24);

   width: 100%;
}

.benefits__list {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-16);
}

.what {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-40);

   padding-bottom: var(--spacing-64);
}

.what__description {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-24);
}

.what__technologies {
   display: none;
}

.steps {
   position: relative;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   gap: var(--spacing-32);

   padding: var(--spacing-64) var(--spacing-16);
   border-radius: var(--radius-12);

   background-color: var(--neutral-100);
   background-image: url("../../assets/patterns/pattern-light.png");
}

.steps__list {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-32);
}

.steps__item {
   position: relative;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-20);

   color: var(--neutral-900);
}

.steps__arrow {
   display: none;
}

.steps__glow {
   position: absolute;
   right: -340px;
   bottom: -300px;

   width: 684px;
   height: 684px;
}

.prices {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-24);

   max-width: 970px;
   padding-block: var(--spacing-64);
}

.prices__cards {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   align-items: baseline;
   gap: var(--spacing-24);
}

.prices__card {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-32);

   height: fit-content;

   padding: var(--spacing-24);
   border: solid 1px var(--neutral-200);
   border-radius: var(--radius-8);
}

.prices__card:nth-child(2) {
   position: relative;
   overflow: hidden;

   background-color: var(--neutral-100);
}

.prices__glow {
   position: absolute;
   right: -340px;
   bottom: -440px;
   z-index: 0;

   width: 684px;
   height: 684px;
}

.prices__box {
   z-index: 1;

   display: flex;
   flex-direction: column;
   gap: var(--spacing-24);
}

.prices__price {
   display: flex;
   align-items: center;
   gap: var(--spacing-8);

   & strong {
      font-size: 34px;
   }
}

.prices__line {
   width: 100%;
   height: 1px;
   background-color: var(--neutral-200);
}

.prices__list {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-16);
}

.prices__button {
   z-index: 1;

   width: 100%;
}

.comment {
   display: flex;
   flex-wrap: wrap;
   row-gap: var(--spacing-32);
   column-gap: var(--spacing-6);

   max-width: 970px;
   padding-bottom: var(--spacing-64);

   & .testimonials__stars {
      width: 28px;
      height: auto;
   }
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: var(--spacing-64);

   padding-top: var(--spacing-48);

   color: var(--neutral-100);
}

.footer__surface {
   border-radius: var(--radius-16) var(--radius-16) 0 0;

   background-color: var(--neutral-900);
   background-image: url("../../assets/patterns/pattern-dark.png");
}

.footer .text-preset-2 {
   text-align: center;
   color: inherit;
}

.footer__top {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-40);

   max-width: 753px;
}

.footer__cta {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-24);
}

.footer__cta .text-preset-7 {
   color: var(--neutral-000);
}

.footer__copy {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   row-gap: var(--spacing-16);
   column-gap: var(--spacing-24);

   width: 100%;

   padding-block: var(--spacing-24);
   border-top: solid 1px var(--neutral-700);

   & p {
      text-align: center;
      width: 100%;
   }
}

.footer__social:hover {
   opacity: 60%;
}

@media (width >= 704px) {
   .header {
      gap: var(--spacing-64);
      padding-top: 32px;
      padding-bottom: 80px;
   }

   .benefits {
      padding-block: var(--spacing-80);
   }

   .benefits__box-list {
      gap: var(--spacing-34);
   }

   .benefits__list {
      gap: var(--spacing-24);
   }

   .what {
      padding-bottom: var(--spacing-80);
   }

   .what__img {
      position: relative;
   }

   .what__technologies {
      position: absolute;
      right: 50px;
      bottom: 50px;

      display: initial;

      width: auto;
      height: 138px;
   }

   .steps {
      gap: var(--spacing-48);
      padding: var(--spacing-80) var(--spacing-32); 
   }

   .steps__list {
      gap: var(--spacing-40);
   }

   .steps__item {
      gap: var(--spacing-24);
   }

   .steps__glow {
      right: -40%;
      bottom: -40%;
   }

   .prices {
      gap: var(--spacing-40);
      padding-block: var(--spacing-80);
   }

   .prices__cards {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-24);
   }

   .comment {
      padding-bottom: var(--spacing-80);
   }

   .footer {
      padding-top: var(--spacing-64);
   }

   .footer__copy {
      & p {
         width: auto;
         margin-right: auto;
      }
   }

   .footer .testimonials__stars {
      width: 28px;
      height: auto;
   }
}

@media (width >= 1024px) {
   .header {
      gap: var(--spacing-80);
   }

   .header__content {
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-64);
   }

   .header__text {
      width: 50%;
   }

   .header__img {
      width: 50%;
   }

   .benefits {
      flex-direction: row;
      gap: var(--spacing-80);
      padding-block: var(--spacing-120);
   }

   .benefits__box-list {
      order: 2;
      width: 50%;
   }

   .benefits__list {
      width: 431px;
   }

   .benefits__img {
      width: 50%;
   }

   .what {
      flex-direction: row;
      gap: var(--spacing-80);

      padding-bottom: var(--spacing-120);
   }

   .what__description {
      width: 50%;
   }

   .what__img {
      width: 50%;
   }

   .what__technologies {
      left: -80px;
      bottom: 31px;
      right: auto;
   }

   .steps {
      gap: var(--spacing-64);
      padding: var(--spacing-80) var(--spacing-60); 
   }

   .steps__title {
      text-align: center;
   }

   .steps__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing-48);
   }

   .steps__list .steps__arrow {
      position: absolute;
      top: 0;
      right: 0;

      display: initial;

      width: auto;
      height: auto;
      border: none;
   }

   .prices {
      gap: var(--spacing-64);
      padding-block: var(--spacing-120);
      padding-inline: 0;
   }

   .prices__title {
      text-align: center;
   }

   .prices__cards {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-24);
   }

   .prices__card:nth-child(2) {
      padding-block: var(--spacing-40);
   }

   .comment {
      justify-content: center;
      padding-bottom: var(--spacing-120);
      padding-inline: 0;

      & h2 {
         text-align: center;
      }
   }

   .footer {
      padding-top: var(--spacing-80);
   }
}