:root {
   --neutral-900: #062630;
   --neutral-700: #385159;
   --neutral-200: #e6e1df;
   --neutral-100: #faf5f3;
   --neutral-000: #fff;

   --light-salmon-500: #fea36f;
   --light-salmon-100: #ffe2d1;
   --light-salmon-50: #fff5ef;

   --text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
   --gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);

   --font-family: 'Martian Mono', monospace;
   --font-family-secundary: 'Inter', system-ui, sans-serif;
} 