*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
   color: var(--neutral-700);
}

body {
   background-color: var(--neutral-000);
}

button {
   display: flex;
   align-items: center;
   gap: 1rem;

   width: fit-content;

   padding: 20px 24px;
   border: solid 2px;
   border-radius: var(--radius-8);

   text-transform: uppercase;
   
   background-color: transparent;
}

ul, ol {
   list-style: none;
}

figure {
   width: fit-content;
}

img {
   width: 100%;
   height: auto;
}