.text-preset-1 {
   font-family: var(--font-family);
   font-size: 2.375rem;
   font-weight: 800;
   line-height: 1.2;
   letter-spacing: -2px;
}

.text-preset-2 {
   font-family: var(--font-family);
   font-size: 2.125rem;
   font-weight: 600;
   line-height: 1.3;
   letter-spacing: -2px;
}

.text-preset-3 {
   font-family: var(--font-family);
   font-size: 1.5rem;
   font-weight: 600;
   line-height: 1.1;
   letter-spacing: -1px;
}

.text-preset-4 {
   font-family: var(--font-family);
   font-size: 1.5rem;
   font-weight: 600;
   line-height: 1.1;
   letter-spacing: -1px;
}

.text-preset-4--regular {
   font-family: var(--font-family);
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 1.1;
   letter-spacing: -1px;
}

.text-preset-5 {
   font-family: var(--font-family-secundary);
   font-size: 1.25rem;
   font-weight: 600;
   line-height: 1.4;
   letter-spacing: .5px;
}

.text-preset-5--regular {
   font-family: var(--font-family-secundary);
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 1.4;
   letter-spacing: .5px;
}

.text-preset-6 {
   font-family: var(--font-family);
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.3;
   letter-spacing: -1px;
}

.text-preset-7 {
   font-family: var(--font-family);
   font-size: .875;
   font-weight: 400;
   line-height: 1.2;
   letter-spacing: -1px;
}
